<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Yatri</title>
  <!-- <link rel="icon" href="res/tab.ico" type="image/x-icon"> -->
  <link rel="stylesheet" href="/Project/css/topvloger.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header id ="header">
    <nav id ="navbar">
      <div class="logo">
        <a href="/Project/other/index.html"><img height="75" src="/Project/res/logo.png" alt="Logo"></a>
      </div>
      <ul>
        <li><a class ="ahover" href="/Project/git/components/signup.html">Sign up</a></li>
        <li><a class ="ahover" href="components/login.html">Login</a></li>
        <li><a class ="ahover" href="components/bestseller.html">Best-Seller</a></li>
        <li><a class ="ahover" href="/Project/new/new.html">Upload Content</a></li>
        <li><a class ="ovalactive" href="/Project/components/topvloger.html">Top Vloggers</a></li>
      </ul>
      <div id="profile">
        <a href="#"><img height="30" src="/Project/image/profile.png" alt="Profile"></a>
      </div>
    </nav>

  </header>

  <!-- profile 1 start-->

  <section id ="section1" class ="profilephoto">
    <div id ="vlogger1" class ="vloggerproinfo"> 
      <img src="/Project/image/image.png" alt="Avatar" class="avatar">
    </div >
    
    <div id ="vloggerinfo1" class ="vloggerproinfo"> 
      <h1 class ="ovalactivename" class ="vloggername">Vijay Sharma </h1>
      <h2>Follower 200k <br><br> Vadodara</h2>
     <br>
      <br>
    </div>
  </section>
  <div class="contant">
    <a id ='post1'chref="">Post</a>
    <a id ='collections1'chref="">Collections</a>
    <button  id="btn1" class="btn"><i class="fa fa-close"></i></button>
  </div>

  <section class="items">
    <div class="item">
      <img src="/Project/image/food1.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food2.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food3.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food4.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food5.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food6.png" alt="" >
    </div>
    
  </section>

  <section class="items">
    <div class="item">
      <img src="/Project/image/collection1.png" >
      <button class="cardbtn" data-modal="container1">Show More</button>
    </div>
    <div class="container" id="container1">
      <div class="card">
        <button class="closebtn" data-modal="container1" >Close</button>
        <img  class="image" src="/Project/image/collection1.png"  style="width:100%">
        <h1>Burger</h1>
        <p class="price">Price: 85</p>
        <p>Location: New cafe,hariganda complex,varundavan,vadodara</p>
        <p>Owner: Ram kumar</p>
        <p>Contact : 8570937674</p>
      </div>
    </div>
    <div class="item">
      <img src="/Project/image/collection2.png" alt="" >
      <button class="cardbtn" data-modal="container2" >Show More</button>
    </div>
    <div class="container" id="container2">
      <div class="card">
        <button class="closebtn" data-modal="container2">Close</button>
        <img  class="image" src="/Project/image/collection2.png"  style="width:100%">
        <h1></h1>
        <p class="price">Price: 255</p>
        <p>Location: New cafe,hariganda complex,varundavan,vadodara</p>
        <p>Owner: Ram kumar</p>
        <p>Contact : 8570937674</p>
      </div>
    </div>
    <div class="item">
      <img src="/Project/image/collection3.png"  >
      <button class="cardbtn" data-modal="container3">Show More</button>
    </div>
    <div class="container" id="container3">
      <div class="card">
        <button class="closebtn" data-modal="container3" >Close</button>
        <img  class="image" src="/Project/image/collection3.png"  style="width:100%">
        <h1>Rice</h1>
        <p class="price">Price: 150</p>
        <p>Location: New cafe,hariganda complex,varundavan,vadodara</p>
        <p>Owner: Ram kumar</p>
        <p>Contact : 8570937674</p>
      </div>
    </div>
    <div class="item">
      <img src="/Project/image/collection4.png" >
      <button class="cardbtn" data-modal="container4">Show More</button>
    </div>
    <div class="container" id="container4">
      <div class="card">
        <button class="closebtn" data-modal="container4" >Close</button>
        <img  class="image" src="/Project/image/collection4.png"  style="width:100%">
        <h1>Sandwich</h1>
        <p class="price">Price: 95</p>
        <p>Location: New cafe,hariganda complex,varundavan,vadodara</p>
        <p>Owner: Ram kumar</p>
        <p>Contact : 8570937674</p>
      </div>
    </div>
    <div class="item">
      <img src="/Project/image/collection5.png" >
      <button class="cardbtn" data-modal="container5">Show More</button>
    </div>
    <div class="container" id="container5">
      <div class="card">
        <button class="closebtn" data-modal="container5" >Close</button>
        <img  class="image" src="/Project/image/collection5.png"  style="width:100%">
        <h1>Pasta</h1>
        <p class="price">Price: 185</p>
        <p>Location: New cafe,hariganda complex,varundavan,vadodara</p>
        <p>Owner: Ram kumar</p>
        <p>Contact : 8570937674</p>
      </div>
    </div>
    <div class="item">
      <img src="/Project/image/collection6.png"  >
      <button class="cardbtn" data-modal="container6">Show More</button>
    </div>
    <div class="container" id="container6">
      <div class="card">
        <button class="closebtn" data-modal="container6" >Close</button>
        <img  class="image" src="/Project/image/collection6.png"  style="width:100%">
        <h1>Idli Sambar</h1>
        <p class="price">Price: 105</p>
        <p>Location: New cafe,hariganda complex,varundavan,vadodara</p>
        <p>Owner: Ram kumar</p>
        <p>Contact : 8570937674</p>
      </div>
    </div>
    
  </section>
  <!-- profile 1 end -->

  <!-- profile 2 start -->
  <section id="section2" class ="profilephoto">
    <div id ="vlogger2" class ="vloggerproinfo"> 
      <img src="/Project/image/vloger2.png" alt="Avatar" class="avatar">
    </div >
    
    <div id ="vloggerinfo2" class ="vloggerproinfo"> 
      <h1 class ="ovalactivename" class ="vloggername">Heer Shah</h1>
      <h2>Follower 150k <br><br> Vadodara</h2>
     <br>
      <br>
    </div>
  </section>
  <div class="contant">
    <a id ='post2'chref="">Post</a>
    <a id ='collections2'chref="">Collections</a>
    <button id="btn2" class="btn"><i class="fa fa-close"></i></button>
  </div>

  <section class="items">
    <div class="item">
      <img src="/Project/image/food1.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food2.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food3.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food4.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food5.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food6.png" alt="" >
    </div>
    
  </section>

  <section class="items">
    <div class="item">
      <img src="/Project/image/collection1.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/collection2.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/collection3.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/collection4.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/collection5.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/collection6.png" alt="" >
    </div>
    
  </section>
  <!-- profile 2 end -->

  <!-- profile 3 start -->
  <section id="section3" class ="profilephoto">
    <div id ="vlogger3" class ="vloggerproinfo"> 
      <img src="/Project/image/vloger3.png" alt="Avatar" class="avatar">
    </div >
    
    <div id ="vloggerinfo3" class ="vloggerproinfo"> 
      <h1 class ="ovalactivename" class ="vloggername">Shavani Kaur </h1>
      <h2>Follower 100k <br><br> Vadodara</h2>
     <br>
      <br>
    </div>
  </section>
  <div class="contant">
    <a id ='post3'chref="">Post</a>
    <a id ='collections3'chref="">Collections</a>
    <button id="btn3" class="btn"><i class="fa fa-close"></i></button>
  </div>

  <section class="items">
    <div class="item">
      <img src="/Project/image/food1.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food2.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food3.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food4.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food5.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/food6.png" alt="" >
    </div>
    
  </section>

  <section class="items">
    <div class="item">
      <img src="/Project/image/collection1.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/collection2.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/collection3.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/collection4.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/collection5.png" alt="" >
    </div>
    <div class="item">
      <img src="/Project/image/collection6.png" alt="" >
    </div>
    
  </section>
  <!-- profile 3 end -->
  

  <footer>
    <p>"Savor the Streets: Where Foodies Meet Vloggers' Picks"</p>
  </footer>

  <script src="/Project/js/app.js"></script>
  
</body>
</html>